# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Reza\Douglas\CSIS 3275\Winter 2020\session 11- April 1\Selenium Starter Files 1 - Webdriver\udacity-jwdnd-c1-l5-selenium-webdriver-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
